body.login {
    background: transparent;
}
body.login:before {
    content:'';
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;

    background-image: url(_login.jpg);
    background-size: cover;

    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    z-index: -1;
}


body.login div#login {

}
body.login div#login h1 {
    position: relative;
    padding-top:20%;
    margin-bottom: 25px;
}
body.login div#login h1 a {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    
    background-size: contain;
    background-position: center;
}
body.login div#login form#loginform {

}
body.login div#login form#loginform p {

}
body.login div#login form#loginform p label {

}
body.login div#login form#loginform input {

}
body.login div#login form#loginform input#user_login {

}
body.login div#login form#loginform input#user_pass {

}
body.login div#login form#loginform p.forgetmenot {

}
body.login div#login form#loginform p.forgetmenot input#rememberme {

}
body.login div#login form#loginform p.submit {

}
body.login div#login form#loginform p.submit input#wp-submit {

}
body.login div#login p#nav {

}
body.login div#login p#nav a {

}
body.login div#login p#backtoblog {

}
body.login div#login p#backtoblog a {

}