body {
  /* feel free to change height */
  height: 1500px;
  background: -webkit-linear-gradient(
    top,
    orange,
    darkblue
  );
  background: linear-gradient(
    to bottom,
    orange,
    darkblue
  );
}

h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  letter-spacing: 5px;
  font-weight: 100;
  padding: 25px 15px;
  text-shadow: 1px 1px 1px #333;
}

#star-svg {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 150px;
  height: 150px;
}

#ampersand{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  transform:translateX(-50%) translateY(-50%);
}

.st0{
  fill:none;
  stroke:
  #FFFFFF;
  stroke-width:18.0625;
  stroke-miterlimit:10;
}