.brands {

	position: relative;
	background-size: 570px 570px;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

	h2 {
		font-size: $font-size-h1;
		font-weight: 700;
		text-align: left;
	}

	&__panel {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		.intro {
			margin-bottom: 2rem;
		}
	}

	&__nav {
		
		position: absolute;
		width: 40px;
		transform: translateZ(0);

		&.sticky {
			position: fixed;
			top: 50vh;
			margin-top: -107px;
		}

		&.sticky-top {
			top: 50vh;
			margin-top: -107px;
		}

		&.sticky-bottom {
			bottom: 50vh;
			margin-bottom: -107px;
		}

		.btn--brands {
			position: relative;
			display: block;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			border: 2px solid #FFF;
			&:not(:last-child) {
				margin-bottom: 3rem;
			}
			span {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -5px;
				margin-left: -5px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: #FFF;
				@include transition(background-color);
			}
			&:hover {
				span {
					background-color: #CCC;
				}
			}
			&:focus {
				outline: none;
			}
			&.active {
				span {
					background-color: $color-pink;
				}
			}
		}

	}


}

.main--people {
	background-color: $color-light;
	padding-top: 10rem;
	.profiles {
		margin-top: 3.5rem;
		margin-left: -$grid-gutter-width / 2;
		margin-right: -$grid-gutter-width / 2;
		&__person {
			width: 50%;
			padding-left: $grid-gutter-width / 2;
			padding-right: $grid-gutter-width / 2;
			img {
				margin-bottom: 0.5rem;
				@include media-breakpoint-up(sm) {
					margin-bottom: 1.2rem;
				}
			}
			.title {
				position: relative;
				font-size: 1rem;
				font-weight: 600;
				padding-left: 35px;
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					width: 15px;
					height: 1px;
					background: #000;
					@include media-breakpoint-up(sm) {
						width: 25px;
					}
				}
				@include media-breakpoint-down(xs) {
					margin-bottom: 0;
					padding-left: 20px;
				}
			}
			@include media-breakpoint-up(sm) {
				width: 33%;
				margin-bottom: 4rem;
				&:nth-child(2) {
					margin-top: 5rem;
				}
				&:nth-child(3) {
					margin-top: 10rem;
				}
			}
			@include media-breakpoint-up(lg) {
				width: 25%;
			}
		}
	}
}