.author{
    position: relative;
    &__image{
        border-radius: 50%;
        overflow: hidden;
        width:200px;
        z-index: 1;
        position: relative;
    }

    &__content{
        position: absolute;
        top:50%;
        left: 0;
        width: 100%;
        
        transform:translateY(-50%);
        border-top:5px solid white;
        border-bottom:5px solid white;
        
        padding-top: $grid-gutter-width / 3;
        padding-bottom: $grid-gutter-width / 3;
        padding-left: calc(200px + #{$grid-gutter-width});
    }
}