$border_thickness: 0.5rem;
.blog{
    &__container{
        
        position: relative;

        &:before{
            content:'';
            position: absolute;
            display: block;
            top:0;
            bottom:0;

            border-left: $border_thickness solid white;
            border-right: $border_thickness solid white;

            left:   calc(( 100% / 3 ) - #{$border_thickness}/2);
            right:  calc(( 100% / 3 ) - #{$border_thickness}/2);
            // width: (100%/3);

            // margin-left:-0.25rem;
        }
        
        //Classes added to the post objects that are loaded by ajax are different
        //Thats why i have type-post here so we can style them
        :not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)){
            .post,
            .type-post{
                border-top:$border_thickness solid white;
                margin-top: 1rem;
                padding-top: 1rem;
            }
            
        }

    }
    
    //Classes added to the post objects that are loaded by ajax are different
    //Thats why i have type-post here so we can style them
    .post,
    .type-post{
        text-align: center;
    }
}

.post{
    &__thumbnail{
        position: relative;
        &:before{
            @include transition(opacity, transform);
            content:'';

            position: absolute;
            bottom:$grid-gutter-width;
            left: 50%;
            
            display: block;
            width:$grid-gutter-width;
            height:$grid-gutter-width;
            border-left:$border_thickness*2 solid white;
            border-bottom:$border_thickness*2 solid white;

            transform:translateX(-50%) translateY(-75%) rotate(-45deg);
            opacity: 0;
        }

        &--circle{
            border-radius: 50%;
            overflow:hidden;
        }
    }

    &__featured_image{
        
        position: relative;
        padding-top: 51%;
        margin-bottom: 3rem;

        @include media-breakpoint-down(xs) {
            margin-left:-$grid-gutter-width/2;
            margin-right:-$grid-gutter-width/2;
        }

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position: 50% 50%;
        }

        &.compat-object-fit{
            background-size: cover;
            background-position: center;

            img{
                opacity: 0;
            }
        }
    }

    &__readmore{
        @include transition(color);
        color: $color-blue;
    }

    &__time{
        margin-bottom: 1rem;
        display: block;
    }

    &__excerpt{
        margin-bottom: 2rem;
    }

    &__extra_wide_image{
        margin-left: -$grid-gutter-width*6;
        &:not(:first-child):not(:last-child){
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    a{
        text-decoration: none;
        
        &:hover{
            .post__thumbnail{
                &:before{
                    opacity: 1;
                    transform:translateX(-50%) translateY(0) rotate(-45deg);
                }
            }

            .post__readmore{
                color: $color-pink;
            }
        }
    }
}