$border_thickness: 2px;
$side_padding: $grid-gutter-width/3;
$top_padding: 20px;

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: white;
}

textarea{
    resize: vertical;
    height:100px;
}
select{
    appearance: none;
}

label{
    @include transition(font-size,padding-top,background,color);

    display: block;
    
    margin-bottom: 0;

    position: absolute;
    top: 0;
    left: $border_thickness;
    right:0;

    padding: ($top_padding/3)*2 $side_padding 0;
    pointer-events:none;
    background:rgba(255,255,255,0);
    
}

input:not([type=submit]):not([type=checkbox]):not([type=radio]),
select,
textarea{
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;

    border-left: $border_thickness solid $color-pink;

    padding: $top_padding $side_padding 5px;

    &:focus,
    &:active{
        outline: none;
    }
}


//Unordered List reset
.gform_fields{
    list-style: none;
    padding-left:0;
    margin-bottom: 0;
    
}

.gform_wrapper{
    position: relative;
    margin-bottom: $grid-gutter-width/2;
}

//Styling for each list item
.gfield{
    &:not(:last-child){
        margin-bottom: $grid-gutter-width/2;
    }

    


    position: relative;

    &.active{
        label{
            font-size: 70%;
            padding-top:5px;
            background:rgba(255,255,255,1);
            color:$color-pink;
        }
    }
}

.validation_error{
    color:$color-pink;
    margin-bottom: 0.5rem;
}

//Error messages styling for fields
.gfield_description.validation_message{
    margin-top:0.5rem;
    color:$color-pink;
}


.gform_footer{
    text-align: right;
    // padding-right: $grid-gutter-width;
    pointer-events:none;
    transform: translateY(-50%);
    // margin-top:-50%;
    // 
    position: absolute;
    top:100%;
    right:$grid-gutter-width;

    .gform_button{
        border: none;
        padding: 5px 10px;
        color: white;
        
        background: $color-pink;
        text-transform: uppercase;
        pointer-events: all;
    }
}