.has_hero,
.has_case_study{

    .header {
        position: absolute;
        top: 0;
        left: 0;
        width:100%;

        background-color:transparent;
        z-index: 1;

        a {
            color:white;
        }

        &__logo {
            .st0 {
                fill:#FFF;
            }
        }
    }
}

.hero {
    @include cover_image();
    height: 100vh;
    overflow: hidden;

    color:white;

    &__content {
        position: absolute;
        bottom:$grid-gutter-width;
        left:$grid-gutter-width;
        z-index: 1;
        .caption {
            font-size: 2.2rem;
            margin-top: 3rem;
        }
    }

    &__video {
        pointer-events:none;
        display: none;
        @include media-breakpoint-up(lg) {
            display: block;
        }
    }

    &__primary {
        line-height: 1.03;
    }

    &__slideshow_text{
        fill:#FFFFFF;
        font-family:'AvertaStd-Regular';
        font-size:28px;
        letter-spacing:5;
    }
}


.fade_text {
    color: white;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(top,
        rgba(255,255,255,0) 10%,
        rgba(255,255,255,1) 25%,
        rgba(255,255,255,1) 75%,
        rgba(255,255,255,0) 90%
    );

    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}