$portrait:120%;
$portrait:119.5%;

$landscape:56.285714285714%;
// $landscape:56.426332288401%;
// $landscape:56.3%;
.images{
    &__group{

        // margin-bottom: $grid-gutter-width/2;
        @include media-breakpoint-up(sm) {
            margin-bottom: $grid-gutter-width;
        }

        &--portrait_and_landscapes{
            .image__image{
                @include media-breakpoint-up(sm) {
                    &:not(:last-child){
                        margin-bottom: $grid-gutter-width;
                    }
                }
            }
        }
    }
}

.image{
    &__image{
        @include cover_image();
        position: relative;

        @include media-breakpoint-down(xs) {
            margin-bottom: $grid-gutter-width/2;
        }

        &--landscape{
            padding-top:$landscape;
        }
        &--portrait{
            padding-top: ($portrait);
        }


        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position: 50% 50%;
        }
    }
}


/*
img{
    width:100%;
    height:400px;

    object-fit: cover;
    object-position: 50% 50%;
}

&.compat-object-fit{
    background-size: cover;
    background-position: center;

    img{
        opacity: 0;
    }
}
*/