.instagram{
    
    &__list{
        list-style: none;
        padding:0;
        margin:0;

        display: flex;
        justify-content: space-around;

        li{
            width:325px;
        }
    }

    &__item{
        @include cover_image();
        position: relative;
        padding-top:100%;
        text-align:center;
        display: block;

        &:before{
            @include transition(opacity);
            position: absolute;
            content:'';
            top: 0;
            left: 0;
            width:100%;
            height:100%;
            opacity: 0;
            background:rgba(0, 0, 0, 0.8);
        }
        

        &:hover{
            &:before{
                opacity: 1;
            }

            .instagram__content{
                opacity: 1;
                transform:scale(1);
            }
        }
    }

    &__content{
        @include transition(opacity,transform);
        position: absolute;
        
        display: flex;
        align-items: center;

        top: 0;
        left: 0;
        width:100%;
        height:100%;
        opacity: 0;
        color:white;
        transform:scale(0);
        padding:$grid-gutter-width/2;

    }
}