.portfolio_container{
    margin-left:-$grid-gutter-width/2;
    margin-right:-$grid-gutter-width/2;
}
.portfolio_piece{

    $mobile_breakpoint: md;

    float:left;
    width:calc(100% / 2);

    padding-left:$grid-gutter-width/2;
    padding-right:$grid-gutter-width/2;
    margin-bottom: $grid-gutter-width;

    @include media-breakpoint-up($mobile_breakpoint) {
        color:white;
    }
    @include media-breakpoint-up(lg) {
        width:calc(100% / 3);
    }

    &__link{
        position: relative;
        display: block;
        @include media-breakpoint-up($mobile_breakpoint) {
            color:inherit;

            &:before{
                @include transition(opacity);
                content:'';
                opacity: 0;
                position: absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background:rgba(0, 0, 0, 0.7);
                z-index: 1;
            }

            &:hover,
            &:focus{
                outline: none;
                color:inherit;
                
                .portfolio_piece__content,
                &:before{
                    opacity: 1;
                    transform:translateY(0);
                }
            }
        }
    }

    &__image{
        @include cover_image();
    }

    &__content{
        @include media-breakpoint-up($mobile_breakpoint) {
            @include transition(opacity,transform);
            padding:$grid-gutter-width/2;
            opacity: 0;
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            z-index: 2;
            transform:translateY(5%);
        }
    }

    &--portrait{
        .portfolio_piece__image{
            padding-top:120%;
        }
    }

    &--landscape{

        .portfolio_piece__image{
            padding-top:56%;
        }
    }
}

.cat-item{
    color:$color-blue;
    a{
        color:inherit;
    }

    &.current-cat,
    &:hover{
        color:$color-pink
    }
}