.portfolio_hero{
    @include cover_image();
    height: 100vh;
    margin-bottom: 10rem;
    
    position: relative;
    color:white;
    &__content{
        position: absolute;
        bottom:$grid-gutter-width;
        left:$grid-gutter-width;
    }
}