.share_links{

    padding-left:0;

    &:before{
        content:'Share this: ';
        text-transform: uppercase;
        color:$color-pink;
    }

    li{
        display: inline-block;

        &:not(:last-child){
            margin-right: 0.5rem;
        }
    }

    a{
        
    }
}