$tabcordion_tab: md;
$tabcordion_accordion: sm;

.tabcordion{

    &__links{
        display: none;
        @include media-breakpoint-up($tabcordion_tab) {
            display: block;
        }

        list-style: none;
        padding-left:0;

        li{
            display: inline-block;
            position: relative;

            line-height: 1;
            &:not(:last-child){
                $link_spacing:1.5rem;
                border-right:1px solid $color-pink;
                padding-right: $link_spacing;
                margin-right: $link_spacing;
            }
        }
    }

    &__link{
        @include soho-regular();
        @include transition(border-bottom-color,color);

        text-transform: uppercase;
        text-decoration: none;
        color: $color-blue;
        letter-spacing: 2.5px;

        &:focus,
        &:active{
            color: $color-blue;
            text-decoration: none;
        }

        @include media-breakpoint-down($tabcordion_accordion) {
            display: block;
            width:100%;
            border-bottom: 1px solid $color-blue;
        }

        &.active,
        &:hover{
            color:black;
            text-decoration: none;
            border-bottom-color:transparent;
        }
    }

    &__block{

        @include media-breakpoint-down($tabcordion_accordion) {
            &:not(:first-of-type){
                padding-top: 1.5rem;
            }
        }

        .tabcordion__link{
            @include media-breakpoint-up($tabcordion_tab) {
                display: none;
            }
        }
    }

    &__content{
        display: none;

        &.active{
            display: block;
        }
    }
}