@mixin button_reset {
    background: transparent;
    border: none;
    padding: 0;
    &:focus {
        outline: none;
    }
}

@mixin cover_image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.img-fluid,
.img_fluid {
    @include img-fluid();
}

@mixin list_reset {
    list-style: none;
    list-style-image: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

// @mixin transition($property,$time_multiplier: 1,$delay: 0s) {
//     transition: $property ($transition-time*$time_multiplier) $transition-ease $delay;
// }

// Usage:   @include transition(width, height 0.3s ease-in-out);
// Output:  -webkit-transition(width 0.2s, height 0.3s ease-in-out);
//          transition(width 0.2s, height 0.3s ease-in-out);
//
// Pass in any number of transitions
@mixin transition($properties...) {

    $transitions_string: ();

    @each $property in $properties {
        $transitions_string: append($transitions_string, $property $transition-time $transition-ease 0s, comma);
    }

    transition: $transitions_string;
}

//As bootstrap now relies classes instead of child selectors, list-inline doesnt make its children inline
.list-inline > *{
    display: inline-block;
}

.remove_children_first_last_margin {
    > *{
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.hidden {
    display: none;
}

.row--flex {
    display: flex;
    flex-wrap: wrap;

}

.row--items-bottom {
    align-items: flex-end;
}