//--Global Options
$enable-flex: false;

// Colours
$color-pink: #FF6F84;
$color-blue: #1BB3BD;
$color-dark: #F0EBEA;
$color-light: #F5F3F2;

//--Body
$body-bg: $color-light;
$body-color: #000000;

//--Links
$link-color: #000000;
$link-decoration: none !default;
$link-hover-color: #000000;
$link-hover-decoration: underline !default;

//--Color resetting for other types of elements
$abbr-border-color: $body-color;
$text-muted: $body-color;
$blockquote-small-color: $body-color;

//--Grid
//$grid-gutter-width:         1.875rem !default; // 30px
$grid-gutter-width: 2.75rem; //50px at XL

//--fonts
$font-family-sans-serif: 'Averta Standard W01',
Helvetica,
Arial,
sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-root: 11px;
$font-size-base: 1rem;

// $font-size-lg:                1.2rem;
// $font-size-sm:                0.875rem;
// $font-size-xs:                0.75rem;

$font-size-h1: 2.2rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.16rem;
$font-size-h4: 1rem;
$font-size-h5: 0.75rem;
$font-size-h6: 0.75rem;

$display1-size: 6.3rem;
// $display2-size:               5.5rem !default;
// $display3-size:               4.5rem !default;
// $display4-size:               3.5rem !default;

$display1-weight: 800;
// $display2-weight:             300 !default;
// $display3-weight:             300 !default;
// $display4-weight:             300 !default;

$line-height: 1.6;

$grid-breakpoints: ( // Extra small screen / phone
xs: 0,
// Small screen / phone
sm: 544px,
// Medium screen / tablet
md: 768px,
// Large screen / desktop
lg: 992px,
// Extra large screen / wide desktop
xl: 1520px);

$container-max-widths: (sm: 576px,
md: 720px,
lg: 940px,
xl: 1450px);

//--Transitions
$transition-time: 0.3s;
$transition-ease: ease-in-out;
