.video{
    position: relative;
    padding-top: 50%;
    border:$grid-gutter-width/2 solid white;

    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

    &__link{
        @include cover_image();
        @include transition(opacity);

        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
        z-index: 1;

        &:before,
        &:after{
            @include transition(opacity);

            content:'';
            background-image:url('img/triangle.svg');
            width:140px;
            height:160px;
            background-size: contain;
            background-repeat: no-repeat;

            position: absolute;
            top:50%;
            left:50%;
            transform: translateZ(0px) translateX(-50%) translateY(-50%);
        }

        &:after{
            z-index:1;
            opacity: 0;
        }

        &.hidden{
            opacity: 0;
            pointer-events:none;
        }

        &:hover{
            &:after{
                opacity: 1;
            }
        }
    }

    &__video{
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
    }

    &__content{
        position: absolute;
        top:50%;
        left:50%;
        transform: translateZ(0px) translateX(-50%) translateY(-50%);
    }
}