.wp_content{
    margin-bottom: 6rem;
    img{
        @extend .img_fluid;
        &:not(:first-child):not(:last-child){
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    .share_links{
        margin-top:2rem;
    }
}

.wp-post-image{
    @extend .img_fluid;
}

  /* =WordPress Core
-------------------------------------------------------------- */
a img.alignnone,
.wp-caption.alignnone,
.alignnone {
    // margin: $grid-gutter-width/2 $grid-gutter-width $grid-gutter-width 0;
}

a img.aligncenter,
.aligncenter,
div.aligncenter {
    display: block;
    margin: $grid-gutter-width/2 auto $grid-gutter-width/2 auto;
}

a img.alignright,
.wp-caption.alignright,
.alignright {
    float:right;
    // margin: $grid-gutter-width/2 0 $grid-gutter-width $grid-gutter-width;
    margin: 0 0 0 $grid-gutter-width;
}

a img.alignleft,
.wp-caption.alignleft,
.alignleft {
    float: left;
    // margin: $grid-gutter-width/2 $grid-gutter-width $grid-gutter-width 0;
    margin: $grid-gutter-width 0 0 0 ;
}

.wp-caption {
    padding: $grid-gutter-width/2 3px $grid-gutter-width/2;
    text-align: center;
    width:auto;
    max-width: 100%;
}

.wp-caption p.wp-caption-text {
    // font-size: 11px;
    // line-height: 17px;
    margin: 0;
    padding: 0 $grid-gutter-width/4 $grid-gutter-width/2;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: $grid-gutter-width/2;
    line-height: normal;
    padding: 1$grid-gutter-width/2 23px 14px;
    text-decoration: none;
    top: $grid-gutter-width/2;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

// .wp-post-image,
// .wp-caption img{
//     @extend .img_fluid;
// }