.scroll-fix {
    width: 100%;
    overflow-x: hidden;
}

.no-scroll {
    overflow: hidden;
}

.color {
    &--blue {
        color: $color-blue;
    }
    &--pink {
        color: $color-pink;
    }
}

.container-fluid {
    max-width: 1450px;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    //margin: 7rem auto;
    margin: auto;
}

.no-scroll {
    overflow-y: hidden;
}

.line-before{
    &:before{
        content: '';
        width: 1rem;
        height:1px;
        background: $color-pink;
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5rem;
    }
}
.line-after{
    &:before{
        content: '';
        width: 1rem;
        height:1px;
        background: $color-pink;
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.5rem;
    }
}