@mixin font-light {
    font-weight: 200;
}
@mixin font-light-italic {
    font-weight: 200;
    font-style: italic;
}
@mixin font-regular {
    font-weight: 400;
}
@mixin font-regular-italic {
    font-weight: 400;
    font-style: italic;
}
@mixin font-semibold {
    font-weight: 600;
}
@mixin font-bold {
    font-weight: 700;
}
@mixin font-extrabold {
    font-weight: 800;
}
@mixin soho-regular {
	font-family: 'Soho W01', sans-serif;
	font-weight: 400;
}
@mixin soho-medium {
	font-family: 'Soho W01', sans-serif;
	font-weight: 500;
}
@mixin font-large {
    font-size: 1.5rem;
}
@mixin font-small {
    font-size: 0.75rem;
}


.color-pink{
    color: $color-pink;
}
.color-blue{
    color: $color-blue;
}

h1 {
    //not sure about this
    font-weight: 700;
}


h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 3rem;
}

a {
    text-decoration: underline;
    @include transition(color);
}

/*-----------------------------------*\
Responsive Base Font Size
\*-----------------------------------*/
@include media-breakpoint-up(sm) {
    html {
        font-size: 13px;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 15px;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 15px;
    }
}

@include media-breakpoint-up(xl) {
    html {
        font-size: 18px;
    }
}

/*-----------------------------------*\
Custom Icons
\*-----------------------------------*/
@font-face {
    font-family: "socicon";
    src:url("fonts/socicon.eot");
    src:url("fonts/socicon.eot?#iefix") format("embedded-opentype"),
    url("fonts/socicon.woff") format("woff"),
    url("fonts/socicon.ttf") format("truetype"),
    url("fonts/socicon.svg#socicon") format("svg");
    font-weight: normal;
    font-style: normal;
}


[class^="socicon-"]:before,
[class*=" socicon-"]:before {
    font-family: "socicon" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    vertical-align: middle;
}

[class^="socicon-"]:after,
[class*=" socicon-"]:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: $grid-gutter-width / 3;
    height: 1px;
    background: #000;
    margin-left: 10px;
}

.socicon-twitter:before {
    content: "\e040";
}
.socicon-facebook:before {
    content: "\e041";
}
.socicon-linkedin:before {
    content: "\e049";
}
.socicon-instagram:before {
    content: "\e057";
}

.text-pink{
    color:$color-pink;
}