.footer {
	
	position: relative;
	padding-top: 6rem;
	background-color: $color-pink;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 50%;
		background: $color-light;
	}

	&__inner {
		position: relative;
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;
		padding-top: $grid-gutter-width;
		padding-bottom: $grid-gutter-width;
		@include media-breakpoint-up(md) {
		    padding: $grid-gutter-width;
		}
	}

	&__sub {
		position: relative;
		background-color: #FFF;
		padding: 4rem 0;
		h4 {
			@include soho-regular;
			color: $color-blue;
			text-transform: uppercase;
			font-size: 1rem;
			letter-spacing: 1px;
			margin-bottom: 3rem;
		}
		p {
			font-size: 1.5rem;
			a {
				color: $color-pink;
			}
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			width: 72px;
			height: 75px;
			margin-top: -44px;
			margin-left: -36px;
			background-image: url('img/arrow.svg');
			background-repeat: no-repeat;
			background-size: cover;
			@include media-breakpoint-up(sm) {
				width: 76px;
				height: 80px;
				margin-top: -48px;
				margin-left: -38px;
			}
			@include media-breakpoint-up(lg) {
				width: 128px;
				height: 134px;
				margin-top: -81px;
				margin-left: -64px;
			}
		}
		@include media-breakpoint-up(md) {
			padding: 8rem 0;
		}
		@include media-breakpoint-up(lg) {
			padding: 11rem 0 15rem;
		}
	}

	&__social {
		.social {
			@include list_reset;
			font-size: 0;
			li {
				display: inline-block;
				width: 50%;
				margin-bottom: 2rem;
				&.alt {
					width: 40%;
					&:last-child {
						width: 50%;
					}
					a {
						display: flex;
						flex-direction: row-reverse;
						align-items: center;
						float: right;
						&:after {
							margin-right: 10px;
							margin-left: 0;
						}

					}
				}
			}
			a {
				position: relative;
				font-size: 1.2rem;
				text-decoration: none;
				width: 50px;
				&:hover {
					color: $color-blue;
				}
			}
			@include media-breakpoint-down(xs) {
				width: 70%;
			}
		}
		@include media-breakpoint-down(xs) {
			margin-top: 6rem;
			width: 70%;
		}
	}

	&__bottom {
		position: relative;
		margin-top: 4rem;
	}

	&__logo {
	    display: none;
	    width: 130px;
	    .st0 {
	    	fill: #FFF;
	    }
	    &:hover {
	    	.st0 {
	    		fill: #000;
	    	}
	    }
	    @include media-breakpoint-up(sm) {
	    	display: block;
	    }
	}

	&__menu {
	    //.footer-menu {
	        @include list_reset;
	        li {
	            display: inline-block;
	            &.current-menu-item {
	                a {
	                    &:before {
	                        right: 0;
	                    }
	                }
	            }
	            &:not(:last-child) {
	                margin-right: 1rem;
	                @include media-breakpoint-up(sm) {
	                	margin-right: $grid-gutter-width / 2;
	                }
	                @include media-breakpoint-up(md) {
	                	margin-right: $grid-gutter-width;
	                }
	            }
	        }
	        a {
	        	position: relative;
	            @include font-light;
	            color: #FFF;
	            text-decoration: none;
	            &:before {
	                content: '';
	                position: absolute;
	                //z-index: -1;
	                left: 0;
	                right: 100%;
	                top: -10px;
	                background: #FFF;
	                height: 1px;
	                @include transition(right);
	            }
	            &:hover {
	                &:before {
	                    right: 0;
	                }
	            }
	        }
	        @include media-breakpoint-down(xs) {
	        	text-align: center;
	        }
	    //}
	    @include media-breakpoint-up(sm) {
			position: absolute;
			top: 10px;
			right: 0;
	    }
	}

}