.header {
    //padding-left: $grid-gutter-width / 2;
    //padding-right: $grid-gutter-width / 2;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $color-light;

    &__inner {
        position: relative;
    }

    &__controls {
        z-index: 9999;
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
        @include media-breakpoint-up(sm) {
            padding: 0;
        }
    }

    &__logo {
        width: 125px;
        display: block;
        @include media-breakpoint-up(md) {
            width: 205px;
        }
    }

    &__toggle {
        @include button_reset;
        position: absolute;
        top: 5px;
        right: $grid-gutter-width / 2;
        width: 15px;
        height: 15px;
        span {
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background: #000;
            @include transition(opacity,transform,top,left,bottom);
            &:nth-child(1) {
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            &:nth-child(2) {
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
            &:nth-child(3) {
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &.active {
            span {
                &:nth-child(1) {
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%) rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    top: 50%;
                    left: 50%;
                    bottom: auto;
                    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
                }
            }
        }
        @include media-breakpoint-up(sm) {
            display: none;
        }
    }

    &__menu {

        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;

        //display: none;
        //background-color: #FFF;
        z-index: 1;
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
        //position: absolute;
        //top: 0;
        //right: 0;

        /*&:before {
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #FFF;
        }*/

        .header-menu {
            @include list_reset;
            padding-top: 8rem;
            li {
                display: inline-block;
                width: 48%;
                margin-bottom: $grid-gutter-width;
                &.current-menu-item {
                    a {
                        &:before {
                            right: 0;
                        }
                    }
                }
                @include media-breakpoint-up(sm) {
                    width: auto;
                    margin-bottom: 0;
                    &:not(:last-child) {
                        margin-right: $grid-gutter-width;
                    }
                }
            }
            a {
                position: relative;
                @include font-regular;
                text-decoration: none;
                font-size: 1.5rem;
                &:before {
                    content: '';
                    position: absolute;
                    //z-index: -1;
                    left: 0;
                    right: 100%;
                    bottom: -15px;
                    background: #000;
                    height: 1px;
                    @include transition(right);
                    .has_hero & {
                        background: #FFF;
                    }
                }
                &:hover {
                    &:before {
                        right: 0;
                    }
                }
                @include media-breakpoint-up(sm) {
                    font-size: 1rem;
                    @include font-light;
                }
            }
            @include media-breakpoint-up(sm) {
                padding-top: 0;
            }
        }
        &.active {
            position: absolute;
            top: 1.75rem;
            width: 100%;
            display: block;
        }
        @include media-breakpoint-up(sm) {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: auto;
            height: auto;
            //background-color: transparent;
            margin-top: 0;
            padding: 0;
        }
    }

    @include media-breakpoint-up(sm) {
        padding: $grid-gutter-width;
    }

}