@import "../../bower_components/bootstrap/scss/variables";
@import "variables";

/*------------------------------------------------------------*\
Import of normalise, reboot and grid
\*------------------------------------------------------------*/
@import "../../bower_components/bootstrap/scss/mixins";
// @import "../../bower_components/bootstrap/scss/mixins/hover"; //Combined with a polyfill, allows for detection of true hover events
// @import "../../bower_components/bootstrap/scss/mixins/tab-focus"; //Enables chrome like focus styles for tabbing
@import "../../bower_components/bootstrap/scss/normalize"; //Does have colors, font sizes, margins, padding
@import "../../bower_components/bootstrap/scss/reboot";
@import "../../bower_components/bootstrap/scss/bootstrap-grid";
@import "../../bower_components/bootstrap/scss/type";
@import "../../bower_components/bootstrap/scss/responsive-embed";
// Utility classes
@import "../../bower_components/bootstrap/scss/utilities";
@import "../../bower_components/bootstrap/scss/utilities-background";
@import "../../bower_components/bootstrap/scss/utilities-spacing";
@import "../../bower_components/bootstrap/scss/utilities-responsive";
@import 'fonts';
@import 'wow';

@font-face {
    font-family: 'Soho Std';
    src: url('fonts/SohoStd-Medium.eot');
    src: url('fonts/SohoStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/SohoStd-Medium.woff2') format('woff2'),
        url('fonts/SohoStd-Medium.woff') format('woff'),
        url('fonts/SohoStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@mixin breakpoints($breakpoint) {
    @if $breakpoint=="extremly-small" {
        @media(max-height: 640px) {
            @content;
        }
    }
}

.page-template-landing {
    overflow-x: hidden;

    .scroll-fix {
        margin-bottom: 0;
    }

    :-ms-input-placeholder {
        color: $color-light;
    }

    .js-cm-form {
        :-ms-input-placeholder {
            color: #000000;
        }

        ::-webkit-input-placeholder {
            color: #000000;
        }

        :-moz-placeholder {
            color: #000000;
        }

        ::-moz-placeholder {
            color: #000000;
        }
    }
}

.wrap-landing {
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-attachment: fixed;
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    @include media-breakpoint-down(md) {
        background-attachment: inherit;
    }

    .hero__arrow {
        right: 0;
        left: 0;

        @include breakpoints(extremly-small) {
            bottom: 50px;
        }
    }

    .cover-hero-cont {
        max-width: 840px;
        padding-left: 0px;

        @include media-breakpoint-down(sm) {
            padding: 0 15px;
        }

        h1 {
            color: #ffffff;
            text-transform: uppercase;
            font-size: 4.26rem;
            font-weight: 800;
            letter-spacing: 5.5px;
            line-height: 1.05;
            margin-bottom: 34px;

            @include media-breakpoint-down(md) {
                font-size: 3.6rem;
            }

            @include media-breakpoint-down(sm) {
                font-size: 2.6rem;
            }

            @include media-breakpoint-down(xs) {
                font-size: 2.0rem;
            }

            span {
                display: block;
                color: $color-pink;
            }
        }

        p {
            font-size: 28px;
            font-weight: 400;
            color: #ffffff;
            line-height: 1.5;
            letter-spacing: 0;

            @include media-breakpoint-down(sm) {
                font-size: 24px;
                line-height: 1.3;
            }

            @include media-breakpoint-down(xs) {
                font-size: 18px;
            }
        }
    }
}

.wrap-client {
    background: #ffffff;
    padding: 81px 0;
    position: relative;
    z-index: 9;

    @include media-breakpoint-down(xs) {
        padding: 30px 0;
    }

    .cover-logos {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 55px 0 0;
        text-align: center;
        margin-bottom: -95px;

        @include media-breakpoint-down(xs) {
            padding: 25px 0 0;
        }

        li {
            width: 20%;
            display: inline-block;
            margin-bottom: 106px;
            padding: 0 10px;

            a {
                display: inline-block;

                img {
                    width: 100%;
                    max-width: 100%;
                }
            }

            @include media-breakpoint-down(sm) {
                width: 50%;
                margin-bottom: 50px;
            }
        }

        @include media-breakpoint-down(sm) {
            margin-bottom: -50px;
        }
    }
}

.cover-title {
    h2 {
        font-size: 1rem;
        font-family: 'Soho Std';
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 4.1px;
        color: $color-pink;
    }
}

.wrap-services {
    padding: 171px 0 140px;
    background: $color-light;
    position: relative;
    z-index: 9;

    @include media-breakpoint-down(md) {
        padding: 80px 0;
    }

    @include media-breakpoint-down(xs) {
        padding: 30px 0;
    }

}

.cover-sevices {
    text-align: center;
    margin-top: 50px;
    background: $color-light;

    @include media-breakpoint-down(xs) {
        margin: 30px 0 0;
    }

    figcaption {
        margin-top: 56px;

        @include media-breakpoint-down(md) {
            margin: 0;
        }

        h3 {
            font-size: 1.55rem;
            font-weight: 700;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            padding-bottom: 20px;
            position: relative;
            margin-bottom: 24px;

            &:after {
                position: absolute;
                content: '';
                left: 0;
                right: 0;
                bottom: 0;
                width: 32px;
                height: 1px;
                background: $color-blue;
                margin: 0 auto;
            }


        }

        ul {
            list-style-type: none;
            padding: 0;

            li {
                font-size: 1rem;
                line-height: 1.56;
                font-weight: 400;
                margin-bottom: 10px;
                letter-spacing: 0.9px;
            }
        }
    }
}

.cover-img {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 212px;

    img {
        max-width: 100%;
    }
}

.cover-insights {
    .cover-title {
        h2 {
            color: #ffffff;
            margin-bottom: 32px;
        }
    }
}

.insight-cont {
    max-width: 1120px;
    margin: 0 auto;

    > p {
        font-size: 1.56rem;
        color: #ffffff;
        line-height: 1.4;
        text-align: center;
        letter-spacing: 0.3px;
        max-width: 980px;
        margin: 0 auto;
    }

    .js-cm-form {
        position: inherit;
        transform: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 58px;
        text-align: left;
        margin: 58px -20px;

        @include media-breakpoint-down(sm) {
            margin-bottom: 0;
        }

        > div {
            position: relative;
            width: 40%;
            padding: 0 20px;
            transform: none;
            margin: 0;


            &:last-child {
                width: 20%;
                position: inherit;
            }

            @include media-breakpoint-down(md) {
                width: 35%;

                &:last-child {
                    width: 30%;
                }
            }

            @include media-breakpoint-down(sm) {
                width: 100%;
                margin-bottom: 15px;

                &:last-child {
                    width: 100%;
                }
            }

        }

        p {
            margin: 0;
        }

        input:not([type=submit]):not([type=checkbox]):not([type=radio]),
        select,
        textarea {
            border: 0;
            width: 100%;
            padding-bottom: 8px;
            padding: 11px 20px;
            font-size: 1.2rem;
            min-height: 55px;

            &::placeholder,
            &:-ms-input-placeholder {
                color: $body-color;
            }

            @include media-breakpoint-down(md) {
                padding: 11px 15px;
            }
        }

        label {
            font-size: 1.2rem;
            left: 26px;

        }

        .active {
            label {
                background: transparent;
            }
        }

        button {
            background: $color-blue;
            width: 100%;
            padding: 0.75em 0.8em;

            &:hover {
                background: $color-pink;

                .hover_line {
                    &:before {
                        background: $color-pink;
                    }
                }
            }


        }
    }
}

.wrap-insights {
    padding: 181px 0 373px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 9;

    @include media-breakpoint-down(md) {
        padding: 80px 0 280px;
        background-attachment: inherit;

    }
}

.wrap-footer {
    background: $color-blue;
    position: relative;
    z-index: 9;

    .footer__inner {
        margin-top: -100px;
    }

    .footer__sub {
        max-width: 1668px;
        margin: 0 auto;
        margin-top: -178px;
        padding: 86px 0 112px;


        @include media-breakpoint-down(md) {
            padding: 80px 0;
            text-align: center;
        }

        .footer-form {
            @include media-breakpoint-down(md) {
                text-align: center;
                margin-top: 30px;
                border-top: 1px solid $body-color;
                padding-top: 50px;
            }
        }

        @include media-breakpoint-down(sm) {
            padding: 50px 0;
        }

        .container-fluid {
            width: 100%;
        }

        h4 {
            font-weight: 700;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.6rem;
            font-weight: 700;

            a {
                color: $body-color;
                text-decoration: none;

                &:hover {
                    color: #FF6F84
                }
            }
        }
    }

    .cover-directors {
        padding: 0;
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        margin-top: 50px;

        @include media-breakpoint-down(xs) {
            margin-bottom: 0;
        }
    }

    .direct-data {
        width: 50%;
        padding: 0 20px;
        text-align: center;
        max-width: 294px;

        @include media-breakpoint-down(md) {
            max-width: 100%;
        }

        @include media-breakpoint-down(xs) {
            width: 100%;
            margin-bottom: 30px;
        }

        img {
            max-width: 100%;
            border-radius: 50%;
            margin: 0 auto;
            margin-bottom: 36px;
        }

        span,
        a {
            display: block;
            font-size: 1.2rem;
            letter-spacing: 0px;
            line-height: 1.5;
        }

        a {
            word-break: break-all;
        }

        a:hover {
            color: $color-blue;
        }

        span.dir-name {
            font-weight: 700;
        }
    }

    span.dir-pos {
        position: relative;
        padding-bottom: 14px;
        margin-bottom: 13px;

        &:after {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            bottom: 0;
            width: 28px;
            height: 2px;
            background: $color-blue;
            margin: 0 auto;
        }
    }


    a.dir-num {
        text-decoration: none;
        margin-bottom: -2px;
    }


    .foot-form-cover {
        margin-top: 33px;

        @include media-breakpoint-down(md) {
            text-align: left;
        }

        input:not([type=submit]):not([type=checkbox]):not([type=radio]),
        select,
        textarea {
            left: 10px;
            font-size: 1.2rem;
            padding-top: 12px;
            border: 0;
            background: $color-light;
            box-shadow: none;
            padding-bottom: 9px;
            max-height: 166px;
            min-height: 55px;

            &::placeholder,
            &:-ms-input-placeholder {
                color: $color-light;
            }
        }

        tectarea {
            max-height: 168px;
        }

        .gfield.active {
            label {
                background: transparent;
                padding-top: 2px;
                font-size: 70%;

            }
        }

        .gform_fields {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
        }

        .gfield {
            width: 100%;
            padding: 0 15px;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            &.half-field {
                width: 50%;

                @include media-breakpoint-down(xs) {
                    width: 100%;
                }
            }

            label {
                left: 15px;
                font-size: 1.2rem;

                .gfield_required {
                    display: none;
                }
            }
        }

    }
}

.wrap-work {
    padding-top: 146px;
    padding-bottom: 127px;
    background: $color-light;
    position: relative;
    z-index: 9;
    margin-top: 100vh;

    @include media-breakpoint-down(md) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @include media-breakpoint-down(xs) {
        padding: 30px 0;
    }

    .cover-work {
        display: flex;
        flex-wrap: wrap;

        .grid-item {
            width: calc(100% / 2);
            margin-top: 0;
            padding: 0 23px;
            margin-bottom: 45px;
            backface-visibility: hidden;
            opacity: 0;
            transition: opacity 0.5s ease-in-out 0s;

            &:first-child {
                margin-top: 0;
            }

            @include media-breakpoint-down(md) {
                padding: 0 15px;
                margin-bottom: 30px;
            }

            @include media-breakpoint-down(xs) {
                width: 100%;
            }
        }

        .work-box {
            display: inline-block;
            width: 100%;

            img {
                width: 100%;

            }
        }
    }

    h2 {
        font-family: inherit;
        font-weight: 700;
        font-size: 1.6rem;
        letter-spacing: 10.5px;

        @include media-breakpoint-down(xs) {
            font-size: 1.3rem;
        }
    }

    .grid {
        margin-top: 3.85rem;

        @include media-breakpoint-down(sm) {
            margin: 0;
        }
    }
}

.work-img-box {
    width: 50%;
    padding-right: 30px;

    @include media-breakpoint-down(sm) {
        width: 100%;
        padding: 0 0 50px;
    }
}

.work-content {
    width: 50%;
    padding-left: 30px;

    h2 {
        font-family: 'Soho Std';
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 3px;
        color: $color-blue;
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
        padding: 0;
    }
}

.popup-slider {
    background: $color-light;
    padding: 30px;
    margin: 15px 0;

    .container-fluid {
        width: 100%;

        @include media-breakpoint-down(md) {
            padding: 0;
        }
    }

    .what_we_did {
        @include media-breakpoint-down(sm) {
            padding-top: 2.75rem;
        }

        ul {
            list-style: none;
            list-style-image: none;
            padding: 0;
            margin-top: 0;
            margin-bottom: 0;
            text-align: left;

        }
    }

    .owl-nav {
        display: none;

        div {
            -webkit-transition: border-color .3s ease-in-out 0s;
            transition: border-color .3s ease-in-out 0s;
            position: fixed;
            top: 50vh;
            border: none;
            border-top: 5px solid $color-blue;
            border-left: 5px solid $color-blue;
            background: transparent;
            padding: 0;

            font-size: 0;
            display: block !important;
            width: 35px;
            height: 35px;
            border-top: 5px solid $color-blue;
            border-left: 5px solid $color-blue;

            &.owl-prev {
                left: 50px;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);

                @include media-breakpoint-down(xs) {
                    left: 20px;
                }
            }

            &.owl-next {
                right: 50px;
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);

                @include media-breakpoint-down(xs) {
                    right: 40px;
                }
            }

            @include media-breakpoint-down(xs) {
                width: 15px;
                height: 15px;
            }
        }
    }
}

.mfp-content {
    max-width: 80%;
    margin: 0 auto;
    position: relative;

    .mfp-close {
        @include media-breakpoint-down(xs) {
            height: 30px;
            width: 30px;
            line-height: 30px;
        }
    }
}

.mfp-content {
    button.mfp-close {
        position: fixed;
        right: 11.2%;
        top: 16px;
        font-size: 2.6rem;
        color: $color-pink;
        opacity: 1;
        transition: all 0.5s ease-in-out 0s;

        &:focus {
            outline: none;
        }

        &:active {
            top: 16px;
        }

        &:hover {
            color: #FF6F84
        }

    }
}

.cover-link {
    position: absolute;
    top: 136px;
    right: -100%;
    transition: all 1s ease-in-out 0.5s;

    @include breakpoints(extremly-small) {
        top: 78px;
    }

    &.active {
        right: 0;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 600;
        background: #ff6f84;
        padding: 17px 45px 17px 20px;
        border-bottom-left-radius: 28px;
        border-top-left-radius: 28px;
        letter-spacing: 1.5px;
        transition: all 0.5s ease-in-out 0s;

        &:hover,
        &:focus {
            color: #ffffff;
            background: $color-blue;
            text-decoration: none;
        }
    }
}

.hero__arrow {
    a {
        display: inline-block;
        width: 35px;
        background: none;
        border: none;
        padding: 0;
        outline: none;

        .st3 {
            fill: none;
            stroke: #FF6F84;
            stroke-width: 2;
        }
    }
}

.gform_ajax_spinner {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -20px;
}

.alm-btn-wrap {
    .alm-load-more-btn.done {
        display: none !important;
    }
}

#loader-1 path,
#loader-1 rect {
    fill: #FF6F84;
}

.loder_image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mfp-auto-cursor {
    .mfp-content {
        cursor: auto;
        width: 100%;
        height: 100%;
    }
}
