.wrap-landing {
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-attachment: fixed; }
  .wrap-landing .hero__arrow {
    right: 0;
    left: 0; }
  .wrap-landing .cover-hero-cont {
    max-width: 920px;
    padding-left: 0px; }
    .wrap-landing .cover-hero-cont h1 {
      color: #ffffff;
      text-transform: uppercase;
      font-size: 3.56rem;
      font-weight: 800;
      letter-spacing: 5.5px;
      line-height: 1.15;
      margin-bottom: 34px; }
      .wrap-landing .cover-hero-cont h1 span {
        display: block;
        color: #FF6F84; }
    .wrap-landing .cover-hero-cont p {
      font-size: 28px;
      font-weight: 400;
      font-style: italic;
      color: #ffffff;
      line-height: 1.5;
      letter-spacing: 0px; }

.wrap-client {
  background: #F5F3F2;
  padding: 65px 0; }
  .wrap-client .cover-logos-box {
    padding-top: 68px;
    background: #ffffff; }
  .wrap-client .cover-logos {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 73px 0 0;
    text-align: center;
    margin-bottom: -18px; }
    .wrap-client .cover-logos li {
      width: 20%;
      display: inline-block;
      margin-bottom: 86px; }
      .wrap-client .cover-logos li a {
        display: inline-block; }
        .wrap-client .cover-logos li a img {
          width: 100%;
          max-width: 100%; }
  .wrap-client .cover-title h2 {
    color: #FF6F84; }

.cover-title h2 {
  font-size: 1rem;
  font-family: 'Soho W01', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4.1px; }

.wrap-services,
.wrap-insights {
  padding: 94px 0 40px; }
  .wrap-services .cover-title h2,
  .wrap-insights .cover-title h2 {
    font-family: inherit;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 10.6px;
    color: #1BB3BD; }

.cover-sevices {
  text-align: center;
  margin-top: 50px; }
  .cover-sevices figcaption {
    margin-top: 50px; }
    .cover-sevices figcaption h3 {
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 1.8px;
      text-transform: uppercase;
      padding-bottom: 22px;
      position: relative;
      margin-bottom: 24px; }
      .cover-sevices figcaption h3:after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        width: 32px;
        height: 1px;
        background: #1BB3BD;
        margin: 0 auto; }
    .cover-sevices figcaption ul {
      list-style-type: none;
      padding: 0; }
      .cover-sevices figcaption ul li {
        font-size: 1rem;
        line-height: 1.56;
        font-weight: 400;
        margin-bottom: 10px;
        letter-spacing: 0.9px; }

.cover-img {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 212px; }

.cover-insights {
  padding-top: 100px; }
  .cover-insights .cover-title h2 {
    color: #ffffff;
    margin-bottom: 24px; }

.insight-cont {
  max-width: 1120px;
  margin: 0 auto; }
  .insight-cont p {
    font-size: 1.56rem;
    color: #ffffff;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.3px; }

/*# sourceMappingURL=landing.css.map */
