/*------------------------------------------------------------*\
Import of normalise, reboot and grid
\*------------------------------------------------------------*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active {
  outline: 0; }
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-webkit-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  font-size: 11px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Averta Standard W01", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #000000;
  background-color: #F5F3F2; }

[tabindex="-1"]:focus {
  outline: none !important; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #000000; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

a {
  color: #000000;
  text-decoration: none; }
  a:focus, a:hover {
    color: #000000;
    text-decoration: underline; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

pre {
  margin-top: 0;
  margin-bottom: 1rem; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle; }

[role="button"] {
  cursor: pointer; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

table {
  background-color: transparent; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #000000;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: left; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
  border-radius: 0; }

textarea {
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit; }

input[type="search"] {
  box-sizing: inherit;
  -webkit-appearance: none; }

output {
  display: inline-block; }

[hidden] {
  display: none !important; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.375rem;
  padding-right: 1.375rem; }
  .container::after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 544px) {
    .container {
      max-width: 576px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 940px; } }
  @media (min-width: 1520px) {
    .container {
      max-width: 1450px; } }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.375rem;
  padding-right: 1.375rem; }
  .container-fluid::after {
    content: "";
    display: table;
    clear: both; }

.row {
  margin-left: -1.375rem;
  margin-right: -1.375rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 1.375rem;
  padding-right: 1.375rem; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 544px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.33333%; }

  .col-sm-pull-2 {
    right: 16.66667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.33333%; }

  .col-sm-pull-5 {
    right: 41.66667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.33333%; }

  .col-sm-pull-8 {
    right: 66.66667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.33333%; }

  .col-sm-pull-11 {
    right: 91.66667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.33333%; }

  .col-sm-push-2 {
    left: 16.66667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.33333%; }

  .col-sm-push-5 {
    left: 41.66667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.33333%; }

  .col-sm-push-8 {
    left: 66.66667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.33333%; }

  .col-sm-push-11 {
    left: 91.66667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 768px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1520px) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left; }

  .col-xl-1 {
    width: 8.33333%; }

  .col-xl-2 {
    width: 16.66667%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-4 {
    width: 33.33333%; }

  .col-xl-5 {
    width: 41.66667%; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-7 {
    width: 58.33333%; }

  .col-xl-8 {
    width: 66.66667%; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-10 {
    width: 83.33333%; }

  .col-xl-11 {
    width: 91.66667%; }

  .col-xl-12 {
    width: 100%; }

  .col-xl-pull-0 {
    right: auto; }

  .col-xl-pull-1 {
    right: 8.33333%; }

  .col-xl-pull-2 {
    right: 16.66667%; }

  .col-xl-pull-3 {
    right: 25%; }

  .col-xl-pull-4 {
    right: 33.33333%; }

  .col-xl-pull-5 {
    right: 41.66667%; }

  .col-xl-pull-6 {
    right: 50%; }

  .col-xl-pull-7 {
    right: 58.33333%; }

  .col-xl-pull-8 {
    right: 66.66667%; }

  .col-xl-pull-9 {
    right: 75%; }

  .col-xl-pull-10 {
    right: 83.33333%; }

  .col-xl-pull-11 {
    right: 91.66667%; }

  .col-xl-pull-12 {
    right: 100%; }

  .col-xl-push-0 {
    left: auto; }

  .col-xl-push-1 {
    left: 8.33333%; }

  .col-xl-push-2 {
    left: 16.66667%; }

  .col-xl-push-3 {
    left: 25%; }

  .col-xl-push-4 {
    left: 33.33333%; }

  .col-xl-push-5 {
    left: 41.66667%; }

  .col-xl-push-6 {
    left: 50%; }

  .col-xl-push-7 {
    left: 58.33333%; }

  .col-xl-push-8 {
    left: 66.66667%; }

  .col-xl-push-9 {
    left: 75%; }

  .col-xl-push-10 {
    left: 83.33333%; }

  .col-xl-push-11 {
    left: 91.66667%; }

  .col-xl-push-12 {
    left: 100%; }

  .col-xl-offset-0 {
    margin-left: 0%; }

  .col-xl-offset-1 {
    margin-left: 8.33333%; }

  .col-xl-offset-2 {
    margin-left: 16.66667%; }

  .col-xl-offset-3 {
    margin-left: 25%; }

  .col-xl-offset-4 {
    margin-left: 33.33333%; }

  .col-xl-offset-5 {
    margin-left: 41.66667%; }

  .col-xl-offset-6 {
    margin-left: 50%; }

  .col-xl-offset-7 {
    margin-left: 58.33333%; }

  .col-xl-offset-8 {
    margin-left: 66.66667%; }

  .col-xl-offset-9 {
    margin-left: 75%; }

  .col-xl-offset-10 {
    margin-left: 83.33333%; }

  .col-xl-offset-11 {
    margin-left: 91.66667%; }

  .col-xl-offset-12 {
    margin-left: 100%; } }
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.16rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.75rem; }

h6 {
  font-size: 0.75rem; }

.h1 {
  font-size: 2.2rem; }

.h2 {
  font-size: 1.5rem; }

.h3 {
  font-size: 1.16rem; }

.h4 {
  font-size: 1rem; }

.h5 {
  font-size: 0.75rem; }

.h6 {
  font-size: 0.75rem; }

.lead {
  font-size: 1.25rem;
  font-weight: 300; }

.display-1 {
  font-size: 6.3rem;
  font-weight: 800; }

.display-2 {
  font-size: 5.5rem;
  font-weight: 300; }

.display-3 {
  font-size: 4.5rem;
  font-weight: 300; }

.display-4 {
  font-size: 3.5rem;
  font-weight: 300; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

small,
.small {
  font-size: 80%;
  font-weight: normal; }

mark,
.mark {
  padding: .2em;
  background-color: #fcf8e3; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

.list-inline {
  padding-left: 0;
  list-style: none; }

.list-inline-item {
  display: inline-block; }
  .list-inline-item:not(:last-child) {
    margin-right: 5px; }

.dl-horizontal {
  margin-right: -2.75rem;
  margin-left: -2.75rem; }
  .dl-horizontal::after {
    content: "";
    display: table;
    clear: both; }

.initialism {
  font-size: 90%;
  text-transform: uppercase; }

.blockquote {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-left: 0.25rem solid #eceeef; }

.blockquote-footer {
  display: block;
  font-size: 80%;
  line-height: 1.6;
  color: #000000; }
  .blockquote-footer::before {
    content: "\2014 \00A0"; }

.blockquote-reverse {
  padding-right: 1rem;
  padding-left: 0;
  text-align: right;
  border-right: 0.25rem solid #eceeef;
  border-left: 0; }

.blockquote-reverse .blockquote-footer::before {
  content: ""; }
.blockquote-reverse .blockquote-footer::after {
  content: "\00A0 \2014"; }

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.embed-responsive-21by9 {
  padding-bottom: 42.85714%; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

.embed-responsive-1by1 {
  padding-bottom: 100%; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-xs-left {
  float: left !important; }

.pull-xs-right {
  float: right !important; }

.pull-xs-none {
  float: none !important; }

@media (min-width: 544px) {
  .pull-sm-left {
    float: left !important; }

  .pull-sm-right {
    float: right !important; }

  .pull-sm-none {
    float: none !important; } }
@media (min-width: 768px) {
  .pull-md-left {
    float: left !important; }

  .pull-md-right {
    float: right !important; }

  .pull-md-none {
    float: none !important; } }
@media (min-width: 992px) {
  .pull-lg-left {
    float: left !important; }

  .pull-lg-right {
    float: right !important; }

  .pull-lg-none {
    float: none !important; } }
@media (min-width: 1520px) {
  .pull-xl-left {
    float: left !important; }

  .pull-xl-right {
    float: right !important; }

  .pull-xl-none {
    float: none !important; } }
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.invisible {
  visibility: hidden !important; }

.text-hide {
  font: "0/0" a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.text-justify {
  text-align: justify !important; }

.text-nowrap {
  white-space: nowrap !important; }

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-xs-left {
  text-align: left !important; }

.text-xs-right {
  text-align: right !important; }

.text-xs-center {
  text-align: center !important; }

@media (min-width: 544px) {
  .text-sm-left {
    text-align: left !important; }

  .text-sm-right {
    text-align: right !important; }

  .text-sm-center {
    text-align: center !important; } }
@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important; }

  .text-md-right {
    text-align: right !important; }

  .text-md-center {
    text-align: center !important; } }
@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important; }

  .text-lg-right {
    text-align: right !important; }

  .text-lg-center {
    text-align: center !important; } }
@media (min-width: 1520px) {
  .text-xl-left {
    text-align: left !important; }

  .text-xl-right {
    text-align: right !important; }

  .text-xl-center {
    text-align: center !important; } }
.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.font-weight-normal {
  font-weight: normal; }

.font-weight-bold {
  font-weight: bold; }

.font-italic {
  font-style: italic; }

.text-muted {
  color: #000000; }

.text-primary {
  color: #0275d8 !important; }

a.text-primary:focus, a.text-primary:hover {
  color: #025aa5; }

.text-success {
  color: #5cb85c !important; }

a.text-success:focus, a.text-success:hover {
  color: #449d44; }

.text-info {
  color: #5bc0de !important; }

a.text-info:focus, a.text-info:hover {
  color: #31b0d5; }

.text-warning {
  color: #f0ad4e !important; }

a.text-warning:focus, a.text-warning:hover {
  color: #ec971f; }

.text-danger {
  color: #d9534f !important; }

a.text-danger:focus, a.text-danger:hover {
  color: #c9302c; }

.bg-inverse {
  color: #eceeef;
  background-color: #373a3c; }

.bg-faded {
  background-color: #f7f7f9; }

.bg-primary {
  color: #fff !important;
  background-color: #0275d8 !important; }

a.bg-primary:focus, a.bg-primary:hover {
  background-color: #025aa5; }

.bg-success {
  color: #fff !important;
  background-color: #5cb85c !important; }

a.bg-success:focus, a.bg-success:hover {
  background-color: #449d44; }

.bg-info {
  color: #fff !important;
  background-color: #5bc0de !important; }

a.bg-info:focus, a.bg-info:hover {
  background-color: #31b0d5; }

.bg-warning {
  color: #fff !important;
  background-color: #f0ad4e !important; }

a.bg-warning:focus, a.bg-warning:hover {
  background-color: #ec971f; }

.bg-danger {
  color: #fff !important;
  background-color: #d9534f !important; }

a.bg-danger:focus, a.bg-danger:hover {
  background-color: #c9302c; }

.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.m-a-0 {
  margin: 0 0 !important; }

.m-t-0 {
  margin-top: 0 !important; }

.m-r-0 {
  margin-right: 0 !important; }

.m-b-0 {
  margin-bottom: 0 !important; }

.m-l-0 {
  margin-left: 0 !important; }

.m-x-0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m-a-1 {
  margin: 1rem 1rem !important; }

.m-t-1 {
  margin-top: 1rem !important; }

.m-r-1 {
  margin-right: 1rem !important; }

.m-b-1 {
  margin-bottom: 1rem !important; }

.m-l-1 {
  margin-left: 1rem !important; }

.m-x-1 {
  margin-right: 1rem !important;
  margin-left: 1rem !important; }

.m-y-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.m-a-2 {
  margin: 1.5rem 1.5rem !important; }

.m-t-2 {
  margin-top: 1.5rem !important; }

.m-r-2 {
  margin-right: 1.5rem !important; }

.m-b-2 {
  margin-bottom: 1.5rem !important; }

.m-l-2 {
  margin-left: 1.5rem !important; }

.m-x-2 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important; }

.m-y-2 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important; }

.m-a-3 {
  margin: 3rem 3rem !important; }

.m-t-3 {
  margin-top: 3rem !important; }

.m-r-3 {
  margin-right: 3rem !important; }

.m-b-3 {
  margin-bottom: 3rem !important; }

.m-l-3 {
  margin-left: 3rem !important; }

.m-x-3 {
  margin-right: 3rem !important;
  margin-left: 3rem !important; }

.m-y-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }

.p-a-0 {
  padding: 0 0 !important; }

.p-t-0 {
  padding-top: 0 !important; }

.p-r-0 {
  padding-right: 0 !important; }

.p-b-0 {
  padding-bottom: 0 !important; }

.p-l-0 {
  padding-left: 0 !important; }

.p-x-0 {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.p-a-1 {
  padding: 1rem 1rem !important; }

.p-t-1 {
  padding-top: 1rem !important; }

.p-r-1 {
  padding-right: 1rem !important; }

.p-b-1 {
  padding-bottom: 1rem !important; }

.p-l-1 {
  padding-left: 1rem !important; }

.p-x-1 {
  padding-right: 1rem !important;
  padding-left: 1rem !important; }

.p-y-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.p-a-2 {
  padding: 1.5rem 1.5rem !important; }

.p-t-2 {
  padding-top: 1.5rem !important; }

.p-r-2 {
  padding-right: 1.5rem !important; }

.p-b-2 {
  padding-bottom: 1.5rem !important; }

.p-l-2 {
  padding-left: 1.5rem !important; }

.p-x-2 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important; }

.p-y-2 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important; }

.p-a-3 {
  padding: 3rem 3rem !important; }

.p-t-3 {
  padding-top: 3rem !important; }

.p-r-3 {
  padding-right: 3rem !important; }

.p-b-3 {
  padding-bottom: 3rem !important; }

.p-l-3 {
  padding-left: 3rem !important; }

.p-x-3 {
  padding-right: 3rem !important;
  padding-left: 3rem !important; }

.p-y-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }

.pos-f-t {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.hidden-xs-up {
  display: none !important; }

@media (max-width: 543px) {
  .hidden-xs-down {
    display: none !important; } }

@media (min-width: 544px) {
  .hidden-sm-up {
    display: none !important; } }

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important; } }

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important; } }

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important; } }

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important; } }

@media (max-width: 1519px) {
  .hidden-lg-down {
    display: none !important; } }

@media (min-width: 1520px) {
  .hidden-xl-up {
    display: none !important; } }

.hidden-xl-down {
  display: none !important; }

.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }

.color-pink {
  color: #FF6F84; }

.color-blue {
  color: #1BB3BD; }

h1 {
  font-weight: 700; }

h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 3rem; }

a {
  text-decoration: underline; }

/*-----------------------------------*\
Responsive Base Font Size
\*-----------------------------------*/
@media (min-width: 544px) {
  html {
    font-size: 13px; } }
@media (min-width: 768px) {
  html {
    font-size: 15px; } }
@media (min-width: 992px) {
  html {
    font-size: 15px; } }
@media (min-width: 1520px) {
  html {
    font-size: 18px; } }
/*-----------------------------------*\
Custom Icons
\*-----------------------------------*/
@font-face {
  font-family: "socicon";
  src: url("fonts/socicon.eot");
  src: url("fonts/socicon.eot?#iefix") format("embedded-opentype"), url("fonts/socicon.woff") format("woff"), url("fonts/socicon.ttf") format("truetype"), url("fonts/socicon.svg#socicon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="socicon-"]:before,
[class*=" socicon-"]:before {
  font-family: "socicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle; }

[class^="socicon-"]:after,
[class*=" socicon-"]:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0.91667rem;
  height: 1px;
  background: #000;
  margin-left: 10px; }

.socicon-twitter:before {
  content: "\e040"; }

.socicon-facebook:before {
  content: "\e041"; }

.socicon-linkedin:before {
  content: "\e049"; }

.socicon-instagram:before {
  content: "\e057"; }

.text-pink {
  color: #FF6F84; }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(5.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.fadeInUp {
  animation-name: fadeInUp; }

@font-face {
  font-family: 'Soho Std';
  src: url("fonts/SohoStd-Medium.eot");
  src: url("fonts/SohoStd-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/SohoStd-Medium.woff2") format("woff2"), url("fonts/SohoStd-Medium.woff") format("woff"), url("fonts/SohoStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
.page-template-landing {
  overflow-x: hidden; }
  .page-template-landing .scroll-fix {
    margin-bottom: 0; }
  .page-template-landing :-ms-input-placeholder {
    color: #F5F3F2; }
  .page-template-landing .js-cm-form :-ms-input-placeholder {
    color: #000000; }
  .page-template-landing .js-cm-form ::-webkit-input-placeholder {
    color: #000000; }
  .page-template-landing .js-cm-form :-moz-placeholder {
    color: #000000; }
  .page-template-landing .js-cm-form ::-moz-placeholder {
    color: #000000; }

.wrap-landing {
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-attachment: fixed;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0; }
  @media (max-width: 991px) {
    .wrap-landing {
      background-attachment: inherit; } }
  .wrap-landing .hero__arrow {
    right: 0;
    left: 0; }
    @media (max-height: 640px) {
      .wrap-landing .hero__arrow {
        bottom: 50px; } }
  .wrap-landing .cover-hero-cont {
    max-width: 840px;
    padding-left: 0px; }
    @media (max-width: 767px) {
      .wrap-landing .cover-hero-cont {
        padding: 0 15px; } }
    .wrap-landing .cover-hero-cont h1 {
      color: #ffffff;
      text-transform: uppercase;
      font-size: 4.26rem;
      font-weight: 800;
      letter-spacing: 5.5px;
      line-height: 1.05;
      margin-bottom: 34px; }
      @media (max-width: 991px) {
        .wrap-landing .cover-hero-cont h1 {
          font-size: 3.6rem; } }
      @media (max-width: 767px) {
        .wrap-landing .cover-hero-cont h1 {
          font-size: 2.6rem; } }
      @media (max-width: 543px) {
        .wrap-landing .cover-hero-cont h1 {
          font-size: 2.0rem; } }
      .wrap-landing .cover-hero-cont h1 span {
        display: block;
        color: #FF6F84; }
    .wrap-landing .cover-hero-cont p {
      font-size: 28px;
      font-weight: 400;
      color: #ffffff;
      line-height: 1.5;
      letter-spacing: 0; }
      @media (max-width: 767px) {
        .wrap-landing .cover-hero-cont p {
          font-size: 24px;
          line-height: 1.3; } }
      @media (max-width: 543px) {
        .wrap-landing .cover-hero-cont p {
          font-size: 18px; } }

.wrap-client {
  background: #ffffff;
  padding: 81px 0;
  position: relative;
  z-index: 9; }
  @media (max-width: 543px) {
    .wrap-client {
      padding: 30px 0; } }
  .wrap-client .cover-logos {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 55px 0 0;
    text-align: center;
    margin-bottom: -95px; }
    @media (max-width: 543px) {
      .wrap-client .cover-logos {
        padding: 25px 0 0; } }
    .wrap-client .cover-logos li {
      width: 20%;
      display: inline-block;
      margin-bottom: 106px;
      padding: 0 10px; }
      .wrap-client .cover-logos li a {
        display: inline-block; }
        .wrap-client .cover-logos li a img {
          width: 100%;
          max-width: 100%; }
      @media (max-width: 767px) {
        .wrap-client .cover-logos li {
          width: 50%;
          margin-bottom: 50px; } }
    @media (max-width: 767px) {
      .wrap-client .cover-logos {
        margin-bottom: -50px; } }

.cover-title h2 {
  font-size: 1rem;
  font-family: 'Soho Std';
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4.1px;
  color: #FF6F84; }

.wrap-services {
  padding: 171px 0 140px;
  background: #F5F3F2;
  position: relative;
  z-index: 9; }
  @media (max-width: 991px) {
    .wrap-services {
      padding: 80px 0; } }
  @media (max-width: 543px) {
    .wrap-services {
      padding: 30px 0; } }

.cover-sevices {
  text-align: center;
  margin-top: 50px;
  background: #F5F3F2; }
  @media (max-width: 543px) {
    .cover-sevices {
      margin: 30px 0 0; } }
  .cover-sevices figcaption {
    margin-top: 56px; }
    @media (max-width: 991px) {
      .cover-sevices figcaption {
        margin: 0; } }
    .cover-sevices figcaption h3 {
      font-size: 1.55rem;
      font-weight: 700;
      letter-spacing: 1.4px;
      text-transform: uppercase;
      padding-bottom: 20px;
      position: relative;
      margin-bottom: 24px; }
      .cover-sevices figcaption h3:after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        width: 32px;
        height: 1px;
        background: #1BB3BD;
        margin: 0 auto; }
    .cover-sevices figcaption ul {
      list-style-type: none;
      padding: 0; }
      .cover-sevices figcaption ul li {
        font-size: 1rem;
        line-height: 1.56;
        font-weight: 400;
        margin-bottom: 10px;
        letter-spacing: 0.9px; }

.cover-img {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 212px; }
  .cover-img img {
    max-width: 100%; }

.cover-insights .cover-title h2 {
  color: #ffffff;
  margin-bottom: 32px; }

.insight-cont {
  max-width: 1120px;
  margin: 0 auto; }
  .insight-cont > p {
    font-size: 1.56rem;
    color: #ffffff;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.3px;
    max-width: 980px;
    margin: 0 auto; }
  .insight-cont .js-cm-form {
    position: inherit;
    transform: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 58px;
    text-align: left;
    margin: 58px -20px; }
    @media (max-width: 767px) {
      .insight-cont .js-cm-form {
        margin-bottom: 0; } }
    .insight-cont .js-cm-form > div {
      position: relative;
      width: 40%;
      padding: 0 20px;
      transform: none;
      margin: 0; }
      .insight-cont .js-cm-form > div:last-child {
        width: 20%;
        position: inherit; }
      @media (max-width: 991px) {
        .insight-cont .js-cm-form > div {
          width: 35%; }
          .insight-cont .js-cm-form > div:last-child {
            width: 30%; } }
      @media (max-width: 767px) {
        .insight-cont .js-cm-form > div {
          width: 100%;
          margin-bottom: 15px; }
          .insight-cont .js-cm-form > div:last-child {
            width: 100%; } }
    .insight-cont .js-cm-form p {
      margin: 0; }
    .insight-cont .js-cm-form input:not([type=submit]):not([type=checkbox]):not([type=radio]),
    .insight-cont .js-cm-form select,
    .insight-cont .js-cm-form textarea {
      border: 0;
      width: 100%;
      padding-bottom: 8px;
      padding: 11px 20px;
      font-size: 1.2rem;
      min-height: 55px; }
      .insight-cont .js-cm-form input:not([type=submit]):not([type=checkbox]):not([type=radio])::placeholder, .insight-cont .js-cm-form input:not([type=submit]):not([type=checkbox]):not([type=radio]):-ms-input-placeholder,
      .insight-cont .js-cm-form select::placeholder,
      .insight-cont .js-cm-form select:-ms-input-placeholder,
      .insight-cont .js-cm-form textarea::placeholder,
      .insight-cont .js-cm-form textarea:-ms-input-placeholder {
        color: #000000; }
      @media (max-width: 991px) {
        .insight-cont .js-cm-form input:not([type=submit]):not([type=checkbox]):not([type=radio]),
        .insight-cont .js-cm-form select,
        .insight-cont .js-cm-form textarea {
          padding: 11px 15px; } }
    .insight-cont .js-cm-form label {
      font-size: 1.2rem;
      left: 26px; }
    .insight-cont .js-cm-form .active label {
      background: transparent; }
    .insight-cont .js-cm-form button {
      background: #1BB3BD;
      width: 100%;
      padding: 0.75em 0.8em; }
      .insight-cont .js-cm-form button:hover {
        background: #FF6F84; }
        .insight-cont .js-cm-form button:hover .hover_line:before {
          background: #FF6F84; }

.wrap-insights {
  padding: 181px 0 373px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 9; }
  @media (max-width: 991px) {
    .wrap-insights {
      padding: 80px 0 280px;
      background-attachment: inherit; } }

.wrap-footer {
  background: #1BB3BD;
  position: relative;
  z-index: 9; }
  .wrap-footer .footer__inner {
    margin-top: -100px; }
  .wrap-footer .footer__sub {
    max-width: 1668px;
    margin: 0 auto;
    margin-top: -178px;
    padding: 86px 0 112px; }
    @media (max-width: 991px) {
      .wrap-footer .footer__sub {
        padding: 80px 0;
        text-align: center; } }
    @media (max-width: 991px) {
      .wrap-footer .footer__sub .footer-form {
        text-align: center;
        margin-top: 30px;
        border-top: 1px solid #000000;
        padding-top: 50px; } }
    @media (max-width: 767px) {
      .wrap-footer .footer__sub {
        padding: 50px 0; } }
    .wrap-footer .footer__sub .container-fluid {
      width: 100%; }
    .wrap-footer .footer__sub h4 {
      font-weight: 700;
      margin-bottom: 20px; }
    .wrap-footer .footer__sub p {
      font-size: 1.6rem;
      font-weight: 700; }
      .wrap-footer .footer__sub p a {
        color: #000000;
        text-decoration: none; }
        .wrap-footer .footer__sub p a:hover {
          color: #FF6F84; }
  .wrap-footer .cover-directors {
    padding: 0;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin-top: 50px; }
    @media (max-width: 543px) {
      .wrap-footer .cover-directors {
        margin-bottom: 0; } }
  .wrap-footer .direct-data {
    width: 50%;
    padding: 0 20px;
    text-align: center;
    max-width: 294px; }
    @media (max-width: 991px) {
      .wrap-footer .direct-data {
        max-width: 100%; } }
    @media (max-width: 543px) {
      .wrap-footer .direct-data {
        width: 100%;
        margin-bottom: 30px; } }
    .wrap-footer .direct-data img {
      max-width: 100%;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 36px; }
    .wrap-footer .direct-data span,
    .wrap-footer .direct-data a {
      display: block;
      font-size: 1.2rem;
      letter-spacing: 0px;
      line-height: 1.5; }
    .wrap-footer .direct-data a {
      word-break: break-all; }
    .wrap-footer .direct-data a:hover {
      color: #1BB3BD; }
    .wrap-footer .direct-data span.dir-name {
      font-weight: 700; }
  .wrap-footer span.dir-pos {
    position: relative;
    padding-bottom: 14px;
    margin-bottom: 13px; }
    .wrap-footer span.dir-pos:after {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      width: 28px;
      height: 2px;
      background: #1BB3BD;
      margin: 0 auto; }
  .wrap-footer a.dir-num {
    text-decoration: none;
    margin-bottom: -2px; }
  .wrap-footer .foot-form-cover {
    margin-top: 33px; }
    @media (max-width: 991px) {
      .wrap-footer .foot-form-cover {
        text-align: left; } }
    .wrap-footer .foot-form-cover input:not([type=submit]):not([type=checkbox]):not([type=radio]),
    .wrap-footer .foot-form-cover select,
    .wrap-footer .foot-form-cover textarea {
      left: 10px;
      font-size: 1.2rem;
      padding-top: 12px;
      border: 0;
      background: #F5F3F2;
      box-shadow: none;
      padding-bottom: 9px;
      max-height: 166px;
      min-height: 55px; }
      .wrap-footer .foot-form-cover input:not([type=submit]):not([type=checkbox]):not([type=radio])::placeholder, .wrap-footer .foot-form-cover input:not([type=submit]):not([type=checkbox]):not([type=radio]):-ms-input-placeholder,
      .wrap-footer .foot-form-cover select::placeholder,
      .wrap-footer .foot-form-cover select:-ms-input-placeholder,
      .wrap-footer .foot-form-cover textarea::placeholder,
      .wrap-footer .foot-form-cover textarea:-ms-input-placeholder {
        color: #F5F3F2; }
    .wrap-footer .foot-form-cover tectarea {
      max-height: 168px; }
    .wrap-footer .foot-form-cover .gfield.active label {
      background: transparent;
      padding-top: 2px;
      font-size: 70%; }
    .wrap-footer .foot-form-cover .gform_fields {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px; }
    .wrap-footer .foot-form-cover .gfield {
      width: 100%;
      padding: 0 15px;
      margin-bottom: 30px; }
      .wrap-footer .foot-form-cover .gfield:last-child {
        margin-bottom: 0; }
      .wrap-footer .foot-form-cover .gfield.half-field {
        width: 50%; }
        @media (max-width: 543px) {
          .wrap-footer .foot-form-cover .gfield.half-field {
            width: 100%; } }
      .wrap-footer .foot-form-cover .gfield label {
        left: 15px;
        font-size: 1.2rem; }
        .wrap-footer .foot-form-cover .gfield label .gfield_required {
          display: none; }

.wrap-work {
  padding-top: 146px;
  padding-bottom: 127px;
  background: #F5F3F2;
  position: relative;
  z-index: 9;
  margin-top: 100vh; }
  @media (max-width: 991px) {
    .wrap-work {
      padding-top: 80px;
      padding-bottom: 80px; } }
  @media (max-width: 543px) {
    .wrap-work {
      padding: 30px 0; } }
  .wrap-work .cover-work {
    display: flex;
    flex-wrap: wrap; }
    .wrap-work .cover-work .grid-item {
      width: calc(100% / 2);
      margin-top: 0;
      padding: 0 23px;
      margin-bottom: 45px;
      backface-visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s ease-in-out 0s; }
      .wrap-work .cover-work .grid-item:first-child {
        margin-top: 0; }
      @media (max-width: 991px) {
        .wrap-work .cover-work .grid-item {
          padding: 0 15px;
          margin-bottom: 30px; } }
      @media (max-width: 543px) {
        .wrap-work .cover-work .grid-item {
          width: 100%; } }
    .wrap-work .cover-work .work-box {
      display: inline-block;
      width: 100%; }
      .wrap-work .cover-work .work-box img {
        width: 100%; }
  .wrap-work h2 {
    font-family: inherit;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 10.5px; }
    @media (max-width: 543px) {
      .wrap-work h2 {
        font-size: 1.3rem; } }
  .wrap-work .grid {
    margin-top: 3.85rem; }
    @media (max-width: 767px) {
      .wrap-work .grid {
        margin: 0; } }

.work-img-box {
  width: 50%;
  padding-right: 30px; }
  @media (max-width: 767px) {
    .work-img-box {
      width: 100%;
      padding: 0 0 50px; } }

.work-content {
  width: 50%;
  padding-left: 30px; }
  .work-content h2 {
    font-family: 'Soho Std';
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    color: #1BB3BD; }
  @media (max-width: 767px) {
    .work-content {
      width: 100%;
      padding: 0; } }

.popup-slider {
  background: #F5F3F2;
  padding: 30px;
  margin: 15px 0; }
  .popup-slider .container-fluid {
    width: 100%; }
    @media (max-width: 991px) {
      .popup-slider .container-fluid {
        padding: 0; } }
  @media (max-width: 767px) {
    .popup-slider .what_we_did {
      padding-top: 2.75rem; } }
  .popup-slider .what_we_did ul {
    list-style: none;
    list-style-image: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left; }
  .popup-slider .owl-nav {
    display: none; }
    .popup-slider .owl-nav div {
      -webkit-transition: border-color .3s ease-in-out 0s;
      transition: border-color .3s ease-in-out 0s;
      position: fixed;
      top: 50vh;
      border: none;
      border-top: 5px solid #1BB3BD;
      border-left: 5px solid #1BB3BD;
      background: transparent;
      padding: 0;
      font-size: 0;
      display: block !important;
      width: 35px;
      height: 35px;
      border-top: 5px solid #1BB3BD;
      border-left: 5px solid #1BB3BD; }
      .popup-slider .owl-nav div.owl-prev {
        left: 50px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
        @media (max-width: 543px) {
          .popup-slider .owl-nav div.owl-prev {
            left: 20px; } }
      .popup-slider .owl-nav div.owl-next {
        right: 50px;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg); }
        @media (max-width: 543px) {
          .popup-slider .owl-nav div.owl-next {
            right: 40px; } }
      @media (max-width: 543px) {
        .popup-slider .owl-nav div {
          width: 15px;
          height: 15px; } }

.mfp-content {
  max-width: 80%;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 543px) {
    .mfp-content .mfp-close {
      height: 30px;
      width: 30px;
      line-height: 30px; } }

.mfp-content button.mfp-close {
  position: fixed;
  right: 11.2%;
  top: 16px;
  font-size: 2.6rem;
  color: #FF6F84;
  opacity: 1;
  transition: all 0.5s ease-in-out 0s; }
  .mfp-content button.mfp-close:focus {
    outline: none; }
  .mfp-content button.mfp-close:active {
    top: 16px; }
  .mfp-content button.mfp-close:hover {
    color: #FF6F84; }

.cover-link {
  position: absolute;
  top: 136px;
  right: -100%;
  transition: all 1s ease-in-out 0.5s; }
  @media (max-height: 640px) {
    .cover-link {
      top: 78px; } }
  .cover-link.active {
    right: 0; }
  .cover-link a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    background: #ff6f84;
    padding: 17px 45px 17px 20px;
    border-bottom-left-radius: 28px;
    border-top-left-radius: 28px;
    letter-spacing: 1.5px;
    transition: all 0.5s ease-in-out 0s; }
    .cover-link a:hover, .cover-link a:focus {
      color: #ffffff;
      background: #1BB3BD;
      text-decoration: none; }

.hero__arrow a {
  display: inline-block;
  width: 35px;
  background: none;
  border: none;
  padding: 0;
  outline: none; }
  .hero__arrow a .st3 {
    fill: none;
    stroke: #FF6F84;
    stroke-width: 2; }

.gform_ajax_spinner {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -20px; }

.alm-btn-wrap .alm-load-more-btn.done {
  display: none !important; }

#loader-1 path,
#loader-1 rect {
  fill: #FF6F84; }

.loder_image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.mfp-auto-cursor .mfp-content {
  cursor: auto;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=landing.css.map */
